.form {
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: table;
}

.inputWrapper,
.clearWrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.clearWrapper {
  padding-right: 0.5rem;
}

.input {
  composes: input from global;
  width: 100%;
  margin: 0 !important;
}

.clear {
  color: #ccc;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  cursor: pointer;
  line-height: 1.5;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.clear > svg:hover {
  color: rgba(104, 87, 221, 0.8);
}

.searchBtn {
  composes: btnSecondary from global;
}

.grid {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.gridResult {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}

.img {
  padding: 0.25em 0.5em;
  height: 10em;
}

.navigateBtn {
  composes: btnSecondary from global;
}

.navigateBtn svg {
  padding: 0.5rem;
}

.navigateBtn:hover {
  color: #000000;
  background-color: rgba(184, 181, 255, 0.6);
}

.pageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
