.form {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.input,
.msg {
  outline: none;
  border: none;
  border-bottom: 1px solid;
  padding: 0.5em;
  font-size: 0.9em;
  margin: 0.1em;
}
.msg {
  height: 10em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btns {
  flex-direction: row;
}
.sendBtn {
  float: right;
  font-size: 0.9em;
  margin: 0.5em 0.1em;
  width: 4em;
  padding: 0.2em;
  background: none;
  border: 1px solid gray;
  border-radius: 45%;
}

.sendBtn:hover {
  color: white;
  background-color: black;
}
