.container {
  align-items: center;
  position: relative;
}
.top {
  border: 1px solid;
  margin-top: 3em;
  margin-left: 11%;
  width: 80%;
  height: 30em;
  display: flex;
  align-items: center;
}
.email {
  height: 30em;
  width: 100%;
}
.bottom {
  text-align: center;
  padding-left: 3em;
}
.img {
  display: inline-block;
  width: 90%;
}
