.container {
  margin: 6.25em 0 0 6.25em;
}

/* separate searchbar/grid(right-side) from display image(left-side) */
.grid_2_columns {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-column-gap: 3.125em;

  align-items: center;
}

/* form box */
.form {
  width: 46.875em;
  height: 50em;
  background-color: #E1E5EA;
  padding: 1.56em 1.25em 1.7em;

  position: relative;
}

.searchBar {
  position: relative;
  display: inline;
  right: -1.25em;
  top: .312em;
}

.input {
  height: 2.5em;
  font-size: 1.13em;
  margin-right: .625em;
  padding: .188em;
  border: .0313em solid #9D9D9D;
  border-radius: .25em;
  box-shadow: 0 .625em 1.88em rgba(0, 0, 0, .1);
}

.input:active,
.input:focus {
    outline: none;
}

.button,
.button:link,
.button:visited {
  height: 2.88em;
  width: 6.25em;
  vertical-align: top;
  font-size: 1.13em;
  border: .031em solid #9D9D9D;
  border-radius: .25em;
  transition: all .2s;
  margin-right: .625em;
}

.button:hover {
  color: #212121;
  transform: translateY(-.125em);
  cursor: pointer;
  box-shadow: 0 .312em 1.25em rgba(0 ,0 ,0 ,.2);
}

.button:active {
  transform: translateY(.063em);
  box-shadow: 0 .312em .625em rgba(0 ,0, 0,.2);
}

/* searched images from api*/
.grid_4_columns{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .625em;
  text-align: center;
  padding-top: 3.13em;
}

.img {
  height: 9.38em;
  width: 9.38em;
  overflow: hidden;
}

.img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pageBtn {
  position: absolute;
  bottom: .625em;
  left: 17.5em;
}
