.ul {
  margin: 0;
}
.title,
.li {
  font-weight: bold;
  font-size: 1.1em;
  list-style: none;
  float: left;
  margin: 0 0.1em;
}
.title {
  margin-right: 0.5em;
}
.btn {
  background: none;
  border: 1px solid;
  border-radius: 45%;
  padding: 0.3em 0.6em;
  font-weight: bold;
}
.btn:hover {
  color: white;
  background-color: black;
}
